{% extends 'main/base.html' %}
{% load static %}
{% block title %}
About
{% endblock %}
{% block content %}
    <div class="portfolio-container">
        <div class="logo-title">
            <a class="lin-2" href="{% url 'index' %}">Ilia Vedmenko</a>
        </div>
        <div class="logo-subtitle">
            Photography
        </div>
        <div class="menu2-block">
            <nav class="menu-2">
                <ul>
                    <li class="tp-2"><a class="lin-2" href="{% url 'index' %}">Home</a></li>
                    <li class="tp-2"><a class="lin-2" href="{% url 'portfolio' %}">Portfolio</a></li>
                    <li class="tp-2"><a class="lin-2" href="{% url 'about' %}">About</a></li>
                    <li class="tp-2"><a class="lin-2" href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
        <hr class="poloska1">
        <div class="about-blocks">
            <div class="about-text">
                <h3 class="about-text-title">About Me</h3></br>
                <p>My work is an obsession, so every day and every shoot is an opportunity to learn and to further develop my craft - discovering more about myself, and about those around.</p></br>
                <p>I shoot digital, but I can give any kind of image, including film. Of course, this cannot be compared with analog shooting, but I try to convey the surroundings of the picture as much as possible through digital processing.</p></br>
                <p>I am available for private portrait sessions, as well as events in the Pavlovsky Posad and Moscow region areas - though I would also be very interested in working on location elsewhere.</p></br>
                <p>I'd love to hear from you, so feel free to contact me.</p></br>
                <p>Thank you for taking time to look at my site and work; I hope to meet you in the near future.</p>
            </div>
            <div class="signature">
                </br>
                <p>- Ilia Vedmenko</p>
                </br>
            </div>
            <div class="about-img">
                <img class="avatar" src="https://i.ibb.co/rH19Yqg/ava.jpg">
            </div>
        </div>
        <hr class="poloska3">
        <div class="portfolio-bottom">
            <div class="social-links-2">
                <a class="social-link-button" href="https://t.me/iliamblshonok"><img class="social-pics" src="{% static 'img/telegram-logo-black.png' %}" alt="Telegram"></a>
                <a class="social-link-button" href="https://vk.com/ilia.vedmenko"><img class="social-pics" src="{% static 'img/vk-logo-black.png' %}" alt="VK"></a>
            </div>
            <div class="site-name-2">
                vedmenko-photo.ru
            </div>
        </div>
    </div>
{% endblock %}