{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Genre Phothoraphy
{% endblock %}
{% block content %}
    <div class="portfolio-container">
        <div class="logo-title">
            <a class="lin-2" href="{% url 'index' %}">Ilia Vedmenko</a>
        </div>
        <div class="logo-subtitle">
            Photography
        </div>
        <div class="menu2-block">
            <nav class="menu-2">
                <ul>
                    <li class="tp-2"><a class="lin-2" href="{% url 'index' %}">Home</a></li>
                    <li class="tp-2"><a class="lin-2" href="{% url 'portfolio' %}">Portfolio</a></li>
                    <li class="tp-2"><a class="lin-2" href="{% url 'about' %}">About</a></li>
                    <li class="tp-2"><a class="lin-2" href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
        <hr class="poloska1">
        <div class="genres">
            <table>
                <tr>
                    <th class="cell"><a class="genre-links" href="{% url 'portrait-photography' %}">Portraits</a></th>
                    <th class="cell"><a class="genre-links" href="{% url 'report-photography' %}">Reports</a></th>
                    <th class="cell"><a class="genre-links" href="{% url 'genre-photography' %}">Genre</a></th>
                    <th class="cell"><a class="genre-links" href="{% url 'street-photography' %}">Street</a></th>
                    <th class="cell"><a class="genre-links" href="{% url 'bw-photography' %}">B & W</a></th>
                </tr>
            </table>
        </div>
        <hr class="poloska2">
        <div class="photo-blocks">
            <img class="block-img-horizontal" src="https://i.ibb.co/PZ9J2m7/IMG-6394.jpg">
            <img class="block-img-vertical" src="https://i.ibb.co/q0vfZz2/IMG-6388.jpg">
            <img class="block-img-vertical" src="https://i.ibb.co/k2sRV9t/IMG-6399.jpg">
            <img class="block-img-horizontal" src="https://i.ibb.co/jD0kb2p/IMG-7013.jpg">
            <img class="block-img-horizontal" src="https://i.ibb.co/bBK8BKg/IMG-7026.jpg">
            <img class="block-img-horizontal" src="https://i.ibb.co/KVBrDSY/IMG-7039.jpg">
            <img class="block-img-vertical" src="https://i.ibb.co/8sF8jnG/IMG-9106.jpg">
            <img class="block-img-vertical" src="https://i.ibb.co/N6sFgNc/IMG-9136.jpg">
            <img class="block-img-horizontal" src="https://i.ibb.co/5nGN9nq/IMG-9093.jpg">
            <img class="block-img-horizontal" src="https://i.ibb.co/9nNLd3R/IMG-9062.jpg">
        </div>
        <hr class="poloska3">
        <div class="portfolio-bottom">
            <div class="social-links-2">
                <a class="social-link-button" href="https://t.me/iliamblshonok"><img class="social-pics" src="{% static 'img/telegram-logo-black.png' %}" alt="Telegram"></a>
                <a class="social-link-button" href="https://vk.com/ilia.vedmenko"><img class="social-pics" src="{% static 'img/vk-logo-black.png' %}" alt="VK"></a>
            </div>
            <div class="site-name-2">
                vedmenko-photo.ru
            </div>
        </div>
    </div>
{% endblock %}