*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat_Thin';
    src: local('meta-normal'), local('meta-normal'),
    url('fonts/MontserratThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: Montserrat_Thin;
    background-color: white;
    background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    zoom:100%;
}
@media screen and (max-width: 2560px) {
    .container {
        width: 100%;
        height: 100%;
        padding: 40px 60px 40px 60px;
        border: 3px solid white;
    }
    .img_bg{
    z-index: -100;
    position: fixed;
    width: 100%;
    height: 100%;
    }
    .background-img{
        height: 100%;
        width: 100%;
    }
    .site-name {
        color: white;
        text-align: right;
        font-size: 14pt;
    }
    .site-name-2 {
        height: 50px;
        width: 1000px;
        color: black;
        text-align: right;
        font-size: 14pt;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .home-title-block {
        margin-top: 22%;
        float: right;
    }
    .home-title-name {
        color: white;
        height: 100px;
        display: flex;
        align-items: center;
        text-align: right;
        font-size: 36pt;
    }
    .home-title-act {
        color: white;
        text-align: right;
        font-size: 25pt;
        margin-top: -5%;
    }
    .menu {
        position: absolute;
        margin-top: 26.5%;
        left: 86.2%;
    }
    .tp{
        font-size: 20px;
        display: inline;
        padding-right: 0px;
        padding-left: 20px;
    }
    .lin{
        user-select: none;
        text-decoration: none;
        color: #fff;
    }
    a.lin:hover {border-bottom: 1px double white;}
    .social-links {
        position: absolute;
        left: 93.85%;
        top: 94.85%;
    }
    .social-links-2 {
        position: absolute;
        height: 50px;
        display: inline;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social-pics {
        height: 35px;
        width: 35px;
        margin-left: 10px;
    }
    .social-link-button {
        opacity: 1;
    }

    .social-link-button:hover {
        opacity: 0.5;
        transition: opacity 0.25s;
    }
    .portfolio-container {
        max-width: 1000px;
        height: 100%;
        width: 100%;
        background-color: white;
    }
    .logo-title {
        width: 100%;
        height: 100px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40pt;
    }
    .lin-2 {
        user-select: none;
        text-decoration: none;
        color: black;
    }
    .logo-subtitle {
        width: 100%;
        height: 50px;
        font-size: 20pt;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -2%;
    }
    .menu2-block {
        height: 50px;
        width: 1000px;
        display: flex;
        align-items: center;
    }
    .menu-2 {
        position: absolute;
        width: 1000px;
        text-align: center;
    }
    .tp-2{
        font-size: 20px;
        display: inline;
        padding-right: 70px;
        padding-left: 70px;
    }
    .poloska1 {
        width: 1000px;
        margin-top: 5px;
    }
    .poloska2 {
        width: 1000px;
        margin-bottom: 15px;
    }
    .poloska3 {
        width: 1000px;
        margin-top: 15px;
    }
    .genres {
        height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .portfolio-bottom {
        position: absolute;
        width: 1000px;
        height: 50px;
        display: flex;
        align-items: center;
    }
    table {
        border-spacing: 100px;
    }
    .cell {
        width: 100px;
    }
    .genre-links{
        text-decoration: none;
        color: black;  
    }
    .genre-links:hover{border-bottom: 1px double black;}
    .photo-blocks {
        width: 1000px;
        text-align: center;
    }
    .block-img-horizontal {
        width: 900px;
        height: 600px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .block-img-vertical {
        width: 400px;
        height: 600px;
        margin: 15px;
    }
    .about-blocks {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 1000px;
    }
    .about-text-title{
        font-size: 25px;
        letter-spacing: 5px;
    }
    .about-text{
        width: 1000px;
        font-size: 18px;
        text-align: center;
    }
    .signature{
        width: 1000px;
        font-size: 25px;
        text-align: right;
        font-weight: bold;
        letter-spacing: 5px;
    }
    .about-img{
        width: 1000px;
        text-align: center;
    }
    .avatar{
        height: 600px;
        width: 400px;
    }
    .contact-blocks{
        width: 1000px;
    }
    form{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .form-block{
        width: 1000px;
        height: 100%;
    }
    .form-item{
        width: 100%;
    }
    fieldset{
        border: none;
        height: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .title{
        margin-left: 10px;
        font-size: 20px;
    }
    .caption-text{
        font-size: 12px;
    }
    .field-name{
        width: 48%;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .field{
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .first-name {
        width: 100%;
        height: 35px;
        font-size: 20px;
    }
    .last-name{
        width: 100%;
        height: 35px;
        font-size: 20px;
    }
    .email{
        width: 100%;
        height: 35px;
        font-size: 20px;
    }
    .subject{
        width: 100%;
        height: 35px;
        font-size: 20px;
    }
    .message{
        width: 100%;
        height: 35px;
        font-size: 20px;
    }
    textarea{
        min-height: 100px;
        resize: vertical;
    }
    .button{
        width: 150px;
        height: 40px;
        font-size: 20px;
        margin: 10px;
        font-family: Montserrat_Thin;
        color: white;
        background-color: black;
        border: 0;
        border-radius: 5px;
    }
    .contact-photo-block{
        width: 1000px;
        height: 250px;
        text-align: center;
        margin-top: 25px;
    }
    .contact-photo{
        width: 980px;
        height: 250px;
    }
    .contact-text-block{
        text-align: center;
        margin-top: 20px;
        line-height: 40px;
        font-size: 18px;
    }
    .contact-text-title{
        font-size: 25px;
        letter-spacing: 5px;
}
}
@media screen and (max-width: 1920px) {
    .container {
        width: 100%;
        height: 100%;
        padding: 40px 60px 40px 60px;
        border: 3px solid white;
    }
    .img_bg{
    z-index: -100;
    position: fixed;
    width: 100%;
    height: 100%;
    }
    .background-img{
        height: auto;
        width: 100%;
    }
    .site-name {
        color: white;
        text-align: right;
        font-size: 14pt;
    }
    .site-name-2 {
        height: 50px;
        width: 1000px;
        color: black;
        text-align: right;
        font-size: 14pt;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .home-title-block {
        margin-top: 18%;
        float: right;
    }
    .home-title-name {
        color: white;
        height: 100px;
        display: flex;
        align-items: center;
        text-align: right;
        font-size: 36pt;
    }
    .home-title-act {
        color: white;
        text-align: right;
        font-size: 25pt;
        margin-top: -5%;
    }
    .menu {
        position: absolute;
        margin-top: 24.5%;
        left: 81.75%;
    }
    .tp{
        font-size: 20px;
        display: inline;
        padding-right: 0px;
        padding-left: 20px;
    }
    .lin{
        user-select: none;
        text-decoration: none;
        color: #fff;
    }
    a.lin:hover {border-bottom: 1px double white;}
    .social-links {
        position: absolute;
        left:92%;
        top:92%;
    }
    .social-links-2 {
        position: absolute;
        height: 50px;
        display: inline;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social-pics {
        height: 35px;
        width: 35px;
        margin-left: 10px;
    }
    .social-link-button {
        opacity: 1;
    }

    .social-link-button:hover {
        opacity: 0.5;
        transition: opacity 0.25s;
    }
    .portfolio-container {
        max-width: 1000px;
        height: 100%;
        width: 100%;
        background-color: white;
    }
    .logo-title {
        width: 100%;
        height: 100px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40pt;
    }
    .logo-title-text{
        user-select: none;
        text-decoration: none;
        color: black
    }
    .lin-2 {
        user-select: none;
        text-decoration: none;
        color: black;
    }
    .logo-subtitle {
        width: 100%;
        height: 50px;
        font-size: 20pt;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -2%;
    }
    .menu2-block {
        height: 50px;
        width: 1000px;
        display: flex;
        align-items: center;
    }
    .menu-2 {
        position: absolute;
        width: 1000px;
        text-align: center;
    }
    .tp-2{
        font-size: 20px;
        display: inline;
        padding-right: 70px;
        padding-left: 70px;
    }
    .poloska1 {
        width: 1000px;
        margin-top: 5px;
    }
    .poloska2 {
        width: 1000px;
        margin-bottom: 15px;
    }
    .poloska3 {
        width: 1000px;
        margin-top: 15px;
    }
    .genres {
        height: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .portfolio-bottom {
        position: absolute;
        width: 1000px;
        height: 50px;
        display: flex;
        align-items: center;
    }
    table {
        border-spacing: 100px;
    }
    .cell {
        width: 100px;
    }
    .genre-links{
        text-decoration: none;
        color: black;  
    }
    .genre-links:hover{border-bottom: 1px double black;}
    .photo-blocks {
        width: 1000px;
        text-align: center;
    }
    .block-img-horizontal {
        width: 900px;
        height: 600px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .block-img-vertical {
        width: 400px;
        height: 600px;
        margin: 15px;
    }
    .about-blocks {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 1000px;
    }
    .about-text-title{
        font-size: 25px;
        letter-spacing: 5px;
    }
    .about-text{
        width: 1000px;
        font-size: 18px;
        text-align: center;
    }
    .signature{
        width: 1000px;
        font-size: 25px;
        text-align: right;
        font-weight: bold;
        letter-spacing: 5px;
    }
    .about-img{
        width: 1000px;
        text-align: center;
    }
    .avatar{
        height: 600px;
        width: 400px;
    }
    .contact-blocks{
        width: 1000px;
    }
    form{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .form-block{
        width: 1000px;
        height: 100%;
    }
    .form-item{
        width: 100%;
    }
    fieldset{
        border: none;
        height: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .title{
        margin-left: 10px;
        font-size: 20px;
    }
    .caption-text{
        font-size: 12px;
    }
    .field-name{
        width: 48%;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .field{
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .first-name {
        width: 100%;
        height: 35px;
        font-size: 20px;
    }
    .last-name{
        width: 100%;
        height: 35px;
        font-size: 20px;
    }
    .email{
        width: 100%;
        height: 35px;
        font-size: 20px;
    }
    .subject{
        width: 100%;
        height: 35px;
        font-size: 20px;
    }
    .message{
        width: 100%;
        height: 35px;
        font-size: 20px;
    }
    textarea{
        min-height: 100px;
        resize: vertical;
    }
    .button{
        width: 150px;
        height: 40px;
        font-size: 20px;
        margin: 10px;
        font-family: Montserrat_Thin;
        color: white;
        background-color: black;
        border: 0;
        border-radius: 5px;
    }
    .contact-photo-block{
        width: 1000px;
        height: 250px;
        text-align: center;
        margin-top: 25px;
    }
    .contact-photo{
        width: 980px;
        height: 250px;
    }
    .contact-text-block{
        text-align: center;
        margin-top: 20px;
        line-height: 40px;
        font-size: 18px;
    }
    .contact-text-title{
        font-size: 25px;
        letter-spacing: 5px;
}
}


/*loader*/
html.js .loader {
    background: none repeat scroll 0 0 #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
  }
  html.js .loader .loader_inner {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(220deg)
    }
  }
  html.js .loader .loader_inner:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
  }
  @keyframes animate2 {
    0% {
      box-shadow: inset #b3dfd8 0 0 0 17px;
      transform: rotate(-140deg);
    }
    50% {
      box-shadow: inset #b3dfd8 0 0 0 2px;
    }
    100% {
      box-shadow: inset #b3dfd8 0 0 0 17px;
      transform: rotate(140deg);
    }
  }
/*mobile*/
@media screen and (max-width: 1440px) {
    .menu {
        position: absolute;
        margin-top: 26%;
        left: 75.5%;
    }
    .social-links {
        left: 89%;
        top: 90.25%;
    }
    .background-img{
        width: 1920px;
        height: 1080px;
    }
}
@media screen and (max-width: 1024px) {
    .background-img{
        position: absolute;
        width: 1600px;
        height: 900px;
        left: -18%;
    }
    .menu {
        position: absolute;
        margin-top: 34.5%;
        left: 65.7%;
    }
    .home-title-block {
        margin-top: 24%;
        float: right;
    }
    .social-links{
        left: 84.8%;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 20px 30px 20px 30px;
    }
    .background-img{
        position: absolute;
        width: 1600px;
        height: 900px;
        left: -35%;
    }
    .site-name {
        font-size: 12pt;
    }
    .home-title-block{
        position: relative;
        top: 8%;
    }
    .home-title-name{
        font-size: 30pt;
    }
    .home-title-act{
        font-size: 24pt;
        margin-top: -9%;
    }
    .menu{
        left: 57.25%;
        font-size: 20pt;
        top: 15%;
    }
    .social-links{
        left: 83.5%;
        top: 93%;
    }
    .lin-2{
        font-size: 12pt;
    }
    .menu-2 {
        width: 100%;
    }
    .tp-2{
        padding-right: 60px;
        padding-left: 60px;
    }
    .poloska1 {
        width: 700px;
    }
    .poloska2 {
        width: 700px;
    }
    .poloska3 {
        width: 700px;
    }
    table {
        border-spacing: 70px;
        font-size: 11pt;
    }
    .photo-blocks {
        width: 700px;
    }
    .block-img-horizontal {
        width: 675px;
        height: 450px;
    }
    .block-img-vertical {
        width: 300px;
        height: 450px;
    }
    .portfolio-bottom{
        width: 100%;
    }
    .social-links-2{
        left: 3%;
    }
    .site-name-2{
        width: 700px;
    }
    .about-blocks{
        width: 700px;
    }
    .about-text{
        width: 700px;
    }
    .about-img{
        width: 700px;
    }
    .signature{
        width: 700px;
    }
    .contact-blocks{
        width: 700px;
    }
    .contact-photo-block{
        width: 700px;
        height: auto;
    }
    .contact-photo{
        width: 700px;
        height: auto;
    }
    .form-block{
        width: 700px;
        height: 100%;
    }
    .field-name{
        width: 47.145%;
    }
}
@media screen and (max-width: 425px) {
    .container{
        padding: 20px 15px 20px 15px;
    }
    .background-img{
        width: 1600px;
        height: 100%;
        left: -80%;
    }
    .lin{
        font-size: 13pt;
    }
    .menu{
        left: 33.25%;
        top: 26.5%;
    }
    .home-title-block{
        top: 15%;
    }
    .home-title-act{
        margin-top: -10%;
    }
    .social-links{
        left: 73.75%;
        top: 92.75%;
    }
    .logo-subtitle{
        margin-top: -7%;
    }
    .menu-2{
        width: 425px;
    }
    .tp-2{
        padding-right: 20px;
        padding-left: 20px;
    }
    .poloska1 {
        width: 400px;
    }
    .poloska2 {
        width: 400px;
    }
    .poloska3 {
        width: 400px;
    }
    .genres{
        width: 400px;
    }
    table {
        border-spacing: 20px;
        font-size: 10pt;
    }
    .photo-blocks {
        width: 400px;
    }
    .block-img-horizontal {
        width: 375px;
        height: 250px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .block-img-vertical {
        width: 160px;
        height: 240px;
        margin: 5px;
    }
    .portfolio-bottom{
        width: 100%;
    }
    .social-links-2{
        left: 1%;
    }
    .site-name-2{
        width: 400px;
    }
    .about-blocks{
        width: 400px;
    }
    .about-text{
        width: 400px;
    }
    .about-img{
        width: 400px;
    }
    .signature{
        width: 400px;
    }
    .contact-blocks{
        width: 400px;
    }
    .contact-photo-block{
        width: 400px;
        height: auto;
    }
    .contact-photo{
        width: 400px;
        height: auto;
    }
    .form-block{
        width: 400px;
        height: 100%;
    }
    .field-name{
        width: 45%;
    }
}
@media screen and (max-width: 375px) {
    .container{
        padding: 12px 12px 12px 12px;
    }
    .background-img{
        width: 1600px;
        height: 100%;
        left: -100%;
    }
    .lin{
        font-size: 12pt;
    }
    .menu{
        left: 29%;
        top: 26.5%;
    }
    .social-links{
        left: 71%;
        top: 93.75%;
    }
    .menu2-block{
        width: 350px;
    }
    .menu-2{
        width: 350px;
    }
    .tp-2{
        padding-right: 12px;
        padding-left: 12px;
        align-items: center;
    }
    .poloska1 {
        width: 350px;
        margin-top: -10px;
    }
    .poloska2 {
        width: 350px;
        margin-bottom: 5px;
    }
    .poloska3 {
        width: 350px;
        margin-top: 0px;
    }
    .genres{
        width: 350px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    table {
        border-spacing: 10px;
        font-size: 10pt;
    }
    .photo-blocks {
        width: 350px;
    }
    .block-img-horizontal {
        width: 330px;
        height: 220px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .block-img-vertical {
        width: 150px;
        height: 225px;
        margin: 5px;
    }
    .portfolio-bottom{
        width: 100%;
    }
    .social-links-2{
        left: 1%;
    }
    .site-name-2{
        width: 350px;
    }
    .about-blocks{
        width: 350px;
    }
    .about-text{
        width: 350px;
    }
    .about-img{
        width: 350px;
    }
    .signature{
        width: 350px;
    }
    .about-img{
        width: 350px;
    }
    .avatar{
        width: 300px;
        height: 450px;
    }
    .contact-blocks{
        width: 350px;
    }
    .contact-photo-block{
        width: 350px;
        height: auto;
    }
    .contact-photo{
        width: 350px;
        height: auto;
    }
    .form-block{
        width: 350px;
        height: 100%;
    }
    .field-name{
        width: 44.29%;
    }
}
@media screen and (max-width: 320px) {
    .background-img{
        width: 1600px;
        height: 100%;
        left: -120%;
    }
    .menu{
        left: 17%;
        top: 27%;
    }
    .social-links{
        left: 66%;
        top: 93.75%;
    }
    .logo-title{
        font-size: 32pt;
    }
    .logo-subtitle{
        font-size: 20pt;
        margin-top: -11%;
    }
    .menu2-block{
        margin-top: -5%;
        width: 300px;
    }
    .menu-2{
        width: 300px;
    }
    .lin-2{
        font-size: 11pt;
    }
    .tp-2{
        padding-right: 10px;
        padding-left: 10px;
        align-items: center;
    }
    .poloska1 {
        width: 300px;
        margin-top: -10px;
    }
    .poloska2 {
        width: 300px;
        margin-bottom: 5px;
    }
    .poloska3 {
        width: 300px;
        margin-top: 0px;
    }
    .genres{
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    table {
        border-spacing: 10px;
        font-size: 8pt;
    }
    .cell{
        width: 50px;
    }
    .photo-blocks {
        width: 300px;
    }
    .block-img-horizontal {
        width: 285px;
        height: 190px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .block-img-vertical {
        width: 130px;
        height: 195px;
        margin: 2px;
    }
    .portfolio-bottom{
        width: 100%;
    }
    .social-links-2{
        left: 1%;
    }
    .site-name-2{
        position: relative;
        top: -7%;
        width: 300px;
        font-size: 15pt;
        height: 25px;
    }
    .about-blocks{
        width: 300px;
        margin-top: 10px;
    }
    .about-text{
        position: relative;
        width: 300px;
    }
    .about-img{
        width: 300px;
    }
    .signature{
        width: 300px;
        font-size: 15pt;
    }
    .about-img{
        width: 300px;
    }
    .avatar{
        width: 300px;
        height: 450px;
    }
    .contact-blocks{
        width: 300px;
    }
    .contact-photo-block{
        width: 300px;
        height: auto;
    }
    .contact-photo{
        width: 300px;
        height: auto;
    }
    .form-block{
        width: 300px;
        height: 100%;
    }
    .field-name{
        width: 43.3385%;
    }
}